h1{
    text-align: left;
    position: fixed;
}

div {
    width: 100%;
    height: 100%;
    color: black;

}
#div0 #div1 {
    height: 800px;
    width: 400px;
    position: absolute;
    border-color: black;
}

#div1 {
    margin-left: 410px;
}

#span0 {
    position: fixed;
    height: 30px;
    width: 100px;
    text-align: center;
    border-color: crimson;
    
}