h1{
    text-align: left;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div0, #div1 {
    height: 50em;
    width: 40%;
    margin: 1em;
    border: 1px black solid;
}

#span0 {
    position: fixed;
    height: 30px;
    width: 100px;
    text-align: center;
    border-color: crimson;
    
}
